<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-android-support-gradle-release"
        version="1.1.5">

    <name>cordova-android-support-gradle-release</name>
    <description>Cordova/Phonegap plugin to align various versions of the Android Support libraries specified by other plugins to a specific version</description>
    <author>Dave Alden</author>

    <engines>
        <engine name="cordova" version=">=6.2.0" />
    </engines>

    <platform name="android">
        <hook type="before_prepare" src="scripts/before-prepare.js" />
        <hook type="after_prepare" src="scripts/after-prepare.js" />
        <hook type="before_build" src="scripts/after-prepare.js" />
        <hook type="after_plugin_install" src="scripts/after-prepare.js" />
        <preference name="ANDROID_SUPPORT_VERSION" default="26.+" />
        <framework src="cordova-android-support-gradle-release.gradle" custom="true" type="gradleReference" />
        <source-file src="properties.gradle" target-dir="cordova-android-support-gradle-release" />
    </platform>

</plugin>
