<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-android-support-gradle-release"
        version="0.0.1">

    <name>cordova-android-support-gradle-release</name>
    <description>Cordova/Phonegap plugin to align various versions of the Android Support libraries specified by other plugins to the latest release version</description>
    <author>Dave Alden</author>

    <platform name="android">
        <framework src="cordova-android-support-gradle-release.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>
